@charset "UTF-8";
@import './reset.css';

:root{ /* CSS Variables */ 
    --primary-text-color: #fff;
    --footer-color: #22224c;
    --background-color: #1a1a2e;
    --app-color1:  #09637E;
    --app-color2: #088395;
    --app-color3:  #7AB2B2;
    --app-color4: #fdf2f2;
    --app-color5: #7687f6;
    --app-color6: #00f5ff;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures footer is at the bottom of the viewport if content is short */
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

.container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    /* background: 
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
        url("../media/background.jpg") center/cover no-repeat; */
}

/* Header & Footer*/

footer, header {
    display: inline-flex;
    justify-content: space-around;
    background-color: var(--footer-color);
}

header {
    width: 100%;
    height: 80px;
    line-height: 60px;
    color: white;
    padding: 10px;
}

ul {
    display: inline-flex;
    margin-inline: 20px;
    gap: 20px;
    font-size: 17px;
    list-style: none;
}

footer nav ul li {
    gap: 50px;
    margin: 30px 60px;
    align-items: center;
    justify-content: space-around;
}

nav ul li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
nav ul li a:hover { 
    color: var(--app-color5);
    font-size: 20px;
}



