@charset "UTF-8";
@import './reset.css';

:root{ /* CSS Variables */ 
    --primary-text-color: #fff;
    --footer-color: #22224c;
    --background-color: #1a1a2e;
    --app-color1:  #09637E;
    --app-color2: #088395;
    --app-color3:  #7AB2B2;
    --app-color4: #62fcea;
    --app-color5: #7687f6;
    --app-color6: #400546;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: var(--background-color);
    color: var(--primary-text-color);
    margin: 0 auto;
    width: auto;
}

section {
    margin: 5px;
    border-radius: 5px;
}

p {
    font-size: 20px;
    margin-bottom: 5px;
}

/* Hero */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/background4.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--primary-text-color);
}

.hero-content {
    font-weight: 500;
}

h1 {
    margin-top: 10px;
    margin-right: 60px;
}
h1:hover {
    color: var(--app-color4);
}

.hero-content h1 {
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 30px;
}

.hero-content h1:hover {
    font-size: 50px;
    font-weight: 1000;
    color: var(--app-color4);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--app-color2);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
}
.btn:hover {
    background-color: var(--app-color6) ;
}

/* About */
h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--primary-text-color);
    text-align: center;
}



h2:hover {
    color: var(--app-color4);
    font-size: 40px;
}

.about {
    background: var(--footer-color);
    padding: 50px 20px;
    border-radius: 10px;
}

.about-container {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.about p {
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 20px;
    color: var(--primary-text-color);
}

/* Highlights */
.highlights-section {
    padding: 40px 20px;
    text-align: center;
}

.about-highlights{
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
    padding: 10px 20px 30px;
}

.highlight-header {
    margin-top: 30px;
}

.highlight {
    background-color: var(--app-color5);
    padding: 30px 20px;
    border-radius: 8px;
    flex: 1 1 300px; 
    max-width: 300px; 
    transition: transform 0.3s ease; 
}

.highlight:hover {
    transform: translateY(-8px); 
}

.highlight h3 {
    color: var(--footer-color);
    margin-top: 0;
}

.highlight p {
    color: var(--primary-text-color);
    margin-bottom: 15px;
}


/* Header & Footer*/
footer, header {
    justify-content: space-around;
    background-color: var(--footer-color);
    width: auto;
    padding: 10px;
    display: flex;
    color: var(--primary-text-color);
    flex-wrap: wrap;
    margin-top: auto;
    align-items: center;
}


footer {
    margin-top: auto;
    align-items: center;
}

ul {
    display: inline-flex;
    margin-inline: 20px;
    gap: 20px;
    font-size: 17px;
    list-style: none;
}

nav ul li {
    margin: 30px 30px;
    align-items: center;
    justify-content: space-around;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-text-color);
    cursor: pointer;
}
nav ul li a:hover { 
    color: var(--app-color4);
    font-size: 20px;
}

a i {
    font-size: large;
    font-weight: 500;
}

/* Responsiveness */
@media (max-width: 600px) {
    .about-highlights {
        flex-direction: column; /* Stack vertically on small screens */
    }

}
